{% load static %}
{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="navbar-fixed ">
	<nav >
		<div class="row brown darken-2  ">
			<div class="col l1">
				<a href="#!" class=" blue-text">Logo</a>
			</div>
			<div class="col l9 ">
				<div class="nav-wrapper ">
					<ul  id="nav-mobile" class="center hide-on-med-and-down">
						<li><a class="black-text " href="#">Categorie 1</a></li>
						<li><a class="black-text " href="#">Categorie 2</a></li>
						<li><a class="black-text " href="#">Categorie 3</a></li>
						<li><a class="black-text " href="#">Categorie 1</a></li>
						<li><a class="black-text " href="#">Categorie 2</a></li>
					</ul>
				</div>
			</div>
			<div class="col l2 ">
				<div class="row black-text ">
					<i class="fa fa-camera-retro fa-2x"></i>
					<i class="fa fa-camera-retro fa-2x"></i>
					<i class="fa fa-camera-retro fa-2x"></i>
				</div>

			</div>
		</div>
	</nav>
</div>