{% extends "oscar/base.html" %}
{% load promotion_tags %}
{% load static %}


{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "frobshop/css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "frobshop/css/font-awesome.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "frobshop/css/theme.css" %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block layout %}
    {% block modals %}{% endblock %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}

    {# include "partials/nav_accounts.html" #}


    {# Site logo/title, mini-basket, browse dropdown and searchbox | bref tout l'anglais pour dire le menu du site navgation #}

    <!-- div class="header-bot">
        {# include "partials/nav_header.html" #}
    </div -->
    <div class="ban-top">
        {% include "partials/nav_bar.html" %}
    </div>

    {# Main content of page - other layout templates may override this block #}
<div class=" {% block should_be_contained %}  {% endblock %} space-top">
    {% block content_wrapper %}

        {% block caroussel %}
        {% endblock %}
        <div class="container page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div class="row" id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                    <div class="row" id="promotion_left">
                        {% for promotion in promotions_left %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                    {% block newsletter %}
                    {% endblock %}

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>

    {% endblock %}
 </div>
    {% include "partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type=text/javascript" src="{% static "frobshop/js/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "frobshop/js/materialize.min.js" %}"></script>
    <script>
      $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
{% endblock %}

{# Local scripts #}


{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
