{% extends 'frobshop/layout.html' %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block content_wrapper %}
        <div class="page-head_agile_info_w3l">
                <div class="container">
                    <h3>{{ category.name }}</h3>
                    <!--/w3_short-->

               <!--//w3_short-->
            </div>
        </div>
        <div class="banner-bootom-w3-agileits">
            <div class="container">
                <div class="col-md-4 product-left">

                    <div class="css-treeview">
                        <h4>Categories</h4>
                        <ul class="tree-list-pad">
                            <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Men's Wear</label>
                                <ul>
                                    <li><input type="checkbox" id="item-0-0" /><label for="item-0-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ethnic Wear</label>
                                        <ul>
                                            <li><a href="mens.html">Shirts</a></li>
                                            <li><a href="mens.html">Caps</a></li>
                                            <li><a href="mens.html">Shoes</a></li>
                                            <li><a href="mens.html">Pants</a></li>
                                            <li><a href="mens.html">SunGlasses</a></li>
                                            <li><a href="mens.html">Trousers</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 products-right">
                    <h5>Liste d'article de la categorie : {{ category.name }}</h5>
                    {% if products %}
                        <div class="men-wear-bottom">
                            <div class="col-sm-4 men-wear-left">
                                <img class="img-responsive" src="images/bb2.jpg" alt=" " />
                            </div>
                            <div class="col-sm-8 men-wear-right">
                                <h4>Exclusive Men's <span>Collections</span></h4>
                                <p>{{ category.description }}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <section>
                            <div>
                                <ol class="row">
                                    {% for product in products %}
                                        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>
                                    {% endfor %}
                                </ol>
                                {% include "partials/pagination.html" %}
                            </div>
                        </section>
                    {% else %}
                        <p class="nonefound">{% trans "Aucun article dans cette categori pour l'instant." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}